
@import url(./normalize.css);


 * {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color:  #21243D;
	line-height: 143%;
	
 }
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.ibg{
	position: relative;
}

.ibg .image{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}


body.lock{
	overflow: hidden;
}
/*----------------------PAGE-BLOCK-------------------------*/

.header {
	position: sticky;
	top: 0;
	background-color: #fff;
}
.page {
	flex: 0 1 100%;
}

.page__hello {
	
}
.page__post {
}
.page__feature {
}

.footer {
}

/*----------------------HEADER-BLOCK-------------------------*/

.header__container {
	position: relative;
}
.container {
	max-width: 858px;
	margin: 0 auto;
	padding: 0px 20px;
	box-sizing: content-box; 
}
.header__body {
	padding: 24px 0px;
}

.header__burger { 
	display: none;
}
.burger {
}

.header__menu {
	height: 50px;
}


.menu {
}
.menu__list {
	display: flex;
	justify-content: flex-end;
}
.menu__item {
	
}
.menu__item:not(:first-child) {
	margin-left: 33px;
}

.menu__link {
	position:relative;
	font-size: 1.25em;  /*20px*/
	font-weight: 500;
	line-height: 145%;

}

.menu__link::before {
	content: ""; 
	position: absolute;
	width: 100%;
	transform: scale(0);
	height: 2px;
	bottom: -3px;
	left: 0;
	background-color: #000;
	transform-origin: bottom-right;
	transition: transform 0.25s ease-out;
}

.menu__link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom-left;

}

@media (max-width: 767px){
	.header__body {
		padding: 20px 0px 12px;
		display: flex;
		justify-content: flex-end;
	}
	.header__menu {
		height: 18px;
	}
	.header__burger {
		z-index: 5;
		display: block;
		position: fixed;
		width: 30px;
		height: 19px;
		cursor: pointer;
		margin-right: 20px;
	}
		
	.header__burger span, 
	.header__burger::before,		
	.header__burger::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #000;
	}
	.header__burger::before,		
	.header__burger::after {
		content: "";
	}
	.header__burger::before{
		top: 0;
		}
	.header__burger::after {
		bottom: 0;
	}
	.header__burger span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.header__burger.active span{
		transform: scale(0) translate(0px, -50%);
	}
	.header__burger.active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.header__burger.active::after{
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		height: 100%;
		width: 100%;
		background-color: rgba(133, 137, 138, 0.9);
		padding: 100px 30px 30px;
		transition: right 0.3s ease 0s;
		overflow: auto;
		z-index: 4;
	}

	.header__menu.active {
		right: 0;
	}
	.header__menu::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px;
		z-index: 2;
		background-color: #fff;
		transition: all .3s ease 0s;
	}

	.header__menu.active::before {
		background-color: rgba(125, 134, 136, 0.9);
	}

	.menu__list{
		flex-direction: column;
		align-items: flex-end;
	}
	.menu__list li:not(:last-child){
		margin: 0px 10px 30px 0px;
	}
	.menu__list li:last-child{
		margin: 0px 10px 30px 0px;
	}
	.menu__link{
		font-size: 24px;
	}
}

/*----------------------HELLO-BLOCK-------------------------*/



.hello {
}
.hello__container {
}

.hello__body {
	display: flex;
	padding: 156px 0px 71px 0px ;
}
.hello__resume {

}
.resume {

}
.resume__text {
	margin-right: 110px;
}
.resume__title {
	font-size: 2.75em; /*44px*/
	line-height: 136%;
	font-weight: 700;
	margin-bottom: 34px;
}
.resume__description {
	margin-bottom: 49px;
	line-height: 143%;
}
.resume__button {

}
.resume__link{
	display: inline-block;
	padding: 10px 20px;
	background: #FF6464;
	border-radius: 2px;
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
}

.resume__link:hover {
	box-shadow: 0px 0px 10px 1px #6999f3 ;
	background:#6999f3 ;
	transition: 0.4s;
}

.hello__image {
	flex: 0 0 243px;
}

.hello__image .image{
	width: 100%;
	border-radius: 50%;
}


@media (max-width: 767px){
	.hello__body {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		padding: 33px 0px 58px 0px ;
		row-gap: 34px;
	}
	.resume__text {
		margin-right: 0px;
	}
	.resume__title {
		font-size: 2em; /*30px*/
		line-height: 125%;
		font-weight: 700;
		margin-bottom: 21px;
	}
	.resume__description {
		margin-bottom: 27px;
	}
	.hello__image {
		flex: 0 0 170px;
	}
	/* Не понимаю почему просто менять флекс не достаточно */
	.hello__image .image{
		height: 170px;
	}
}

/*----------------------POST-BLOCK-------------------------*/



.post {
	background: #EDF7FA;
}
.post__container {
}

.post__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.post__head {
	flex: 0 1 50%;
	padding: 7px 0px;
}
.post__title {
	font-size: 1.375em; /*22px*/
	line-height: 60px;
}
.post__more {
	flex: 0 1 50%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}
.post__more-link {
	position: relative;
	color: rgb(0, 167, 204);
	line-height: 23px;
}

.post__more-link::before {
	content: ""; 
	position: absolute;
	width: 100%;
	transform: scale(0);
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: #00A8CC;
	transform-origin: bottom;
	transition: transform 0.25s ease-out;
}

.post__more-link:hover::before {
	transform: scaleX(1);
	transform-origin: bottom-left;
}


.post__article{
	display: flex;
	margin: 0px -10px;
}
.post__column {
	flex: 0 1 50%;
	margin: 0px 0px 39px;
	padding: 0px 10px;
}

.post__item {
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 24px ;
	height: 100%;
}
.item{

}

.item__name {
	margin-bottom: 17px;
}
.item__title {
	position: relative;
	font-size: 1.625em; /*26px*/
	font-weight: 700;
	line-height: 146%;
}

.item__title::before {
	content: ""; 
	position: absolute;
	width: 100%;
	transform: scale(0);
	height: 2px;
	bottom: 0px;
	left: 0;
	background-color: #000;
	transform-origin: bottom;
	transition: transform 0.25s ease-out;
}

.item__title:hover::before {
	transform: scaleX(1);
	transform-origin: bottom-left;
}

.item__info {
	display: flex;
	margin-bottom: 11px;
}

.item__date {
	flex: 0 1 50%;
}


.item__info p{
	font-size: 1.125em; /*18px*/
	line-height: 144%;
}


.item__date .item__date-text::after {
	content: "|";
	margin-left: 40px;
}

.item__theme {
}

.item__body{
	
}
.item__body-text{
	line-height: 143%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media (max-width: 767px){
	.post__head {
		flex: 0 1 100%;
		text-align: center;
		padding: 0;
}
	.post__title {
		font-size: 1.125em; /*18px*/
		line-height: 60px;
	}
	.post__more {
		flex: 0 1 100%;
		display: inline-flex;
		order: 2;
		justify-content: center;
		padding-bottom: 10px;
	}

	.post__article{
		display: flex;
		flex: 0 1 100%;
		flex-flow: column wrap;
		align-items: center;
		margin: 0;
	}
	.post__column {
		flex: 0 1 auto;
		margin: 0px 0px 17px;
		padding: 0px ;
		max-width: 500px;
	}
	.post__item {
		padding: 20px ;
	}
	.item__name {
		margin-bottom: 12px;
	}
	.item__title {
		font-size: 1.375em; /*22px*/
		line-height: 136%;
	}
	.item__info {
		margin-bottom: 19px;
	}
	.item__date {
		flex: 0 1 115px;
	}
	.item__theme {
		margin-left: 10px;
	}
	.item__info p{
		font-size: 1em; /*16x*/
		line-height: 144%;
	}
	.item__date .item__date-text::after {
		margin-left: 20px;
	}
	.item__body-text{
		-webkit-line-clamp: 5;
	}
}

/*----------------------FEATURE-BLOCK-------------------------*/


.feature {
}
.feature__container {
}

.feature__block {
	padding: 15px 0px 115px;
}

.feature__header {
	margin-bottom: 25px;
}
.feature__title {
	font-size: 1.375em;/* 22px */
	font-weight: 700;
	line-height: 56px;
	
}
.feature__body {
	position: relative;
}

.feature__article:not(:last-child) {
	margin-bottom: 46px;
}
.article {
}

.feature__article::after {
	content: '';
	position: absolute;
	background: #E0E0E0;
	height: 2px;
	width: 100%;
	margin-top: 15px;
}

.article__item {
	display: flex;

}
.article__column-photo {
	margin-right: 20px;
	min-width: 246px;
}

.article__image {
	position: relative;
	display: inline-flex;
	padding: 0px 100% 73% 0px;
}
.article__image .image {
	border-radius: 6px;
}

.article__column-text{
	padding: 0px 10px;
	margin-right: 20px;
}
.article__name {
	position: relative;
	display: inline-block;
	margin-bottom: 16px; ;
}

.article__name::before {
	content: ""; 
	position: absolute;
	width: 100%;
	transform: scale(0);
	height: 2px;
	bottom: 0px;
	left: 0;
	background-color: #000;
	transform-origin: bottom;
	transition: transform 0.25s ease-out;
}

.article__name:hover::before {
	transform: scaleX(1);
	transform-origin: bottom-left;
}

.article__title {
	font-size: 1.875em; /*30px*/
	font-weight: 700;
	line-height: 146%;
}
.article__info {
	display: flex;
	align-items: center;
}
.article_date {
	padding: 4px 10px ;
	background: #142850;
	border-radius: 16px;
	margin-right: 26px;
}
.date {
}
.date__post {
	font-weight: 900;
	color: #fff
}

.article__theme {
}
.theme {
}
.theme-name {
	font-size: 1.25em;   /*20px*/
	line-height: 145%;
	color: #8695A4;
}
.article__description {
	margin-top: 17px;
}
.article__text {
	line-height: 143%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@media (max-width: 767px){
	.feature__block {
		padding: 0px 0px 115px;
	}
	
	.feature__header {
		margin-bottom: 0px;
		text-align: center;
	}
	.feature__title {
		font-size: 1.125em;/* 18px */
		font-weight: 400;
		line-height: 60px;
	}
	.article__item {
		display: flex;
		flex-flow: column;
		align-items: center;
		max-width: 500px;
		margin: 0 auto;
	}
	.article__column-photo {
		width: 100%;
		margin: 0;
		max-width: 400px;
	}

	.article__column-text{
		margin-right: 0px;
	}
	.article__name {
		margin:10px 0px 16px; ;
	}
	.article__title {
		font-size: 1.5em; /*24px*/
		line-height: 125%;
	}
	.theme-name {
		font-size: 1em;   /*16px*/
}
	.article__description {
		margin-top: 24px;
	}
	.article__text {
		-webkit-line-clamp: 5;
	}
}

/*----------------------FOOTER-BLOCK-------------------------*/


.footer__container {
}
.footer__body {
	padding: 52px 0px;
}
.footer__social {
}
.social {
}
.social__list {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social__item {

}
.social__item:not(:first-child) {
	margin-left: 35px;
}
.social__link {

}

.social__image{
	padding: 5px;
}

.social__image:hover {
	transform: translate(0px, -5px);
	transition: 0.5s;

}
.footer__copyright {
	margin-top: 21px;
	text-align: center;

}
.footer__copyright__text{
	font-size: 0.875em; /*14px*/
	line-height: 150%;
}

